%h1 Editing sponsor

- form_for([:admin, @sponsor]) do |f|
  = f.error_messages
  %p
    = f.label :name 
    %br
    = f.text_field :name 
  %p
    = f.label :image 
    %br
    = f.text_field :image 
  %p
    = f.label :url 
    %br
    = f.text_field :url 
  %p
    = f.label :visible 
    %br
    = f.text_field :visible 
  %p
    = f.label :info 
    %br
    = f.text_area :info 
  %p
    = f.submit 'Update' 


= link_to t(:show), [:admin, @sponsor]
= link_to t(:back), admin_sponsors_path
