%h1Listing sponsors

%table
  %tr
    %th Name
    %th Image
    %th Url
    %th Visible
    %th Info
  

- @sponsors.each do |sponsor| 
  %tr
    %td
      = h sponsor.name 
    %td
      = h sponsor.image 
    %td
      = h sponsor.url 
    %td
      = h sponsor.visible 
    %td
      = h sponsor.info 
    %td
      = link_to 'Show', [:admin, sponsor] 
    %td
      = link_to 'Edit', edit_admin_sponsor_path(sponsor) 
    %td
      = link_to 'Destroy', [:admin, sponsor], :confirm => 'Are you sure?', :method => :delete 

%br

= link_to 'New sponsor', new_admin_sponsor_path 
