%p
  %b
    =t(:name)
    \:
  = @sponsor.name
%p
  %b
    =t(:image)
    \:
  = @sponsor.image
%p
  %b
    =t(:url)
    \:
  = @sponsor.url
%p
  %b
    =t(:visible)
    \:
  = if @sponsor.visible? then t(:yess) else t(:nooo) end
%p
  %b
    =t(:info)
    \:
  = @sponsor.info 
                                        
= link_to t(:edit), edit_admin_sponsor_path(@sponsor) 
|
= link_to t(:back), admin_sponsors_path
