%h1 Edycja notki
- form_for(@post, :url => {:controller => :posts, :action => :update}) do |f|
  = f.error_messages
  %p
    = f.label :title, "Nagłówek"
    %br
    = f.text_field :title
  %p
    = f.label :content, "Treść"
    %br
    = f.text_area :content
  %p
    = f.submit 'Zapisz'
= link_to 'Wróć', posts_path
