- @posts.each do |post|
  %h2= h post.title
  %span.bp_date
    %em
      = h post.created_at.to_s
  .blog_post
    %p&= post.content
    %span= link_to t(:edit), edit_post_path(post)
    %span= link_to t(:delete), post, :confirm => t(:are_you_sure), :method => :delete
    %br
= link_to t(:new_post), new_post_path
