%h1= t(:new_post)
- form_for(@post, :url => {:controller => :posts, :action => :create}) do |f|
  = f.error_messages
  %p
    = f.label :title, t(:title)
    %br
    = f.text_field :title
  %p
    = f.label :content, t(:content)
    %br
    = f.text_area :content
  %p
    = f.submit t(:create)
= link_to t(:back), posts_path
