%h1 Nowa notka
- form_for(@post) do |f|
  = f.error_messages
  %p
    = f.label "nagłówek"
    %br
    = f.text_field :title
  %p
    = f.label :treść
    %br
    = f.text_area :content
  %p
    = f.submit 'Utwórz'
= link_to 'Wróć', posts_path
