!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ZOSIA
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "pl", "http-equiv" => "Content-Language"}/
    /[if lte IE 7]
      <link href="/static_media/css/patches/patch_2col_right_13.css" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag :all
  %body{:onload => ""}
    #wrapper
      #page_margins
        #page
          #header
            #topnav
              - form_tag new_user_session_path, :id => "login_form" do
                = label_tag :user_email, t(:email)
                = text_field_tag :user_email
                = label_tag :user_password, t(:password)
                = password_field_tag :password
                = submit_tag t(:login)
              .main_page_password_reset
                = render :partial => "shared/devise_links"                
            %a{:href => "/blog/"}
              %img{:alt => "ZOSIA", :src => "/images/logo_zosi_shadow.png"}/
            %span Zimowy Obóz Studentów Informatyki A • Pokrzywna 2010
          / begin: main navigation #nav
          #nav
            %a#navigation{:name => "navigation"}
            / skiplink anchor: navigation
            #nav_main
              %ul
                %li#current
                  %a{:href => "/blog/"} Blog
                %li
                  %a{:href => "/lectures/"} Wykłady
                %li
                  %a{:style => "color: green"}= notice
                  %a{:style => "color: red"}= alert
          / end: main navigation
          / begin: main content area #main
          #main
            / begin: #col1 - first float column
            #col1
              #col1_content.clearfix
                / skiplink anchor: Content
                = yield
            / end: #col1
            / begin: #col3 static column
            #col3
              #col3_content.clearfix
                %h2
                  Informacje:
                  -#render :partial => "shared/sidebar_infos"
                %h4 Planowane terminy
                %ul{:style => "margin-left:0.2em"}
                  %li
                    wyjazd
                    %br>/
                    3 marca 2011
                  %li
                    powrót
                    %br>/
                    6 marca 2011
                %h4 Kontakt
                %p
                  %a{:href => "mailto:ksi@cs.uni.wroc.pl"} ksi@cs.uni.wroc.pl
                %p
                  %a{:href => "http://www.ii.uni.wroc.pl/cms/pl/main_page"}
                    %img{:alt => "Instytut Informatyki UWr", :src => "/images/ii1.png", :title => "Instytut Informatyki UWr"}/
                  %a{:href => "http://sites.google.com/a/cs.uni.wroc.pl/ksi/"}
                    %img{:alt => "Ko\305\202o Student\303\263w Informatyki", :src => "/images/ksi1.png", :title => "Ko\305\202o Student\303\263w Informatyki UWr"}/
                %br/
              #ie_clearing &nbsp;
              / End: IE Column Clearing
            / end: #col3
          / end: #main
          / begin: #footer
          #footer
            %a{:href => "http://creativecommons.org/licenses/by/2.5/pl/", :rel => "license"}>
              %img{:alt => "Creative Commons License", :src => "/images/88x31.png", :style => "border-width:0; margin: 0.2em 0.4em 0 0; float:left;"}/
            O ile nie stwierdzono inaczej, wszystkie materiały na stronie są dostępne na licencji
            = succeed "." do
              %a{:href => "http://creativecommons.org/licenses/by/2.5/pl/", :rel => "license"} Creative Commons Attribution 2.5 Poland
            %br/
            copyleft Arek Flinik |
            %a{:href => "http://github.com/dreamer/zapisy_zosia"} src
            | Layout oparty na
            = succeed "," do
              %a{:href => "http://www.yaml.de/"} YAML
            autorzy: Patryk Obara, Rafał Kuliński
          / end: #footer
    / wrapper
